$primary: rgb(251, 142, 11);

.navbar {

    background-color: rgb(44, 44, 44);
    box-shadow: 0 2px 2px -2px $main;

    .main-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // margin-top: 34px;
        text-align: center;
        height: 100px;
        
    }

    .logo {
        // width: 26px;
        // height: 36px;
        max-height: 100px;
        cursor: pointer;
    }

    a {
        margin-right: 45px;
        font-style: normal;
        font-weight: 540;
        font-size: 20px;
        line-height: 24px;
        color: $hite;
        text-decoration: none;
    }

    img {
        cursor: pointer;
    }

    .new {
        display: flex;
        align-items: center;
    }
}